name: Generate docs and deploy

permissions:
  contents: write

on:
  push:
    paths:
      - 'docs/**'

jobs:
  build-and-generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          persist-credentials: true

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 24

      - name: Generate docs.json
        run: npm run generate-docs

      - name: Commit generated docs.json
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add docs/docs.json
          git commit -m "chore: generate docs.json"
          git push origin main
